:root[data-theme="light"] {
  --text: #e2c050;
  --text-bold: #58470e;
  --background: #f6ebd0;
  --primary: #ddc23c;
  --secondary: #4f4908;
  --accent: #e9b958;
}

:root[data-theme="dark"] {
  --text: #af8b1d;
  --text-bold: #f1e0a7;
  --background: #2f2409;
  --primary: #c3a822;
  --secondary: #f7f1b0;
  --accent: #a77716;
}

body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}

h1 {
  color: var(--text-bold);
  font-weight: 800;
}

p {
  color: var(--text);
}
